<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
        <title>HTML Rendered Page</title>
    </head>   
     <body>
    {{>header}}
        <img src="/img/robota.jfif">

    {{>footer}}
    </body>
</html>